<%= form_with(model: renter, local: true) do |form| %>
  <% if renter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(renter.errors.count, "error") %> prohibited this renter from being saved:</h2>

      <ul>
      <% renter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, placeholder: "Nombre y Apellidos"  %>
  </div>

  <div class="field">
    <%= form.label :phone, "Teléfono" %>
    <%= form.text_field :phone, placeholder: "+56912345678"  %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut, placeholder: "11.111.111-1" %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail, placeholder: "ejemplo@ejemplo.com" %>
  </div>

  <div class="field">
    <%= form.label :property_id, "Propiedad" %>
    <%= form.collection_select :property_id, Property.available_property, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit "Crear" %>
  </div>
<% end %>
