<p id="notice"><%= notice %></p>

<h2>Arrendatarios</h2>
<hr>
<%= link_to 'Nuevo Arrendatario', new_renter_path, class: "btn btn-info"  %> |
<%= link_to 'Index Detalle Arriendos', detail_rents_path, class: "btn btn-info" %>
<%= link_to 'Index Propiedades', properties_path, class: "btn btn-info" %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Rut</th>
        <th>Mail</th>
        <th>Detalles</th>
        <th>Propietario</th>
        <th>Propiedad</th>
        <th>Fecha de ingreso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @renters.each do |renter| %>
        <tr>
          <td><%= renter.name %></td>
          <td><%= renter.phone %></td>
          <td><%= renter.rut %></td>
          <td><%= renter.mail %></td>
          <td><%= renter.detail %></td>
          <td><%= renter.property.owner.name %></td>
          <td><%= renter.property.name %></td>
          <td><%= localize renter.created_at, format: "%d de %B de %Y" %></td>
          <td><%= link_to 'Mostrar', renter %></td>
          <td><%= link_to 'Editar', edit_renter_path(renter) %></td>
          <td><%= link_to 'Eliminar', renter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


