<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @renter.name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @renter.phone %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @renter.rut %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @renter.mail %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @renter.detail %>
</p>

<p>
  <strong>Propietario:</strong>
  <%= @renter.property.owner.name %>
</p>

<p>
  <strong>Propiedad:</strong>
  <%= @renter.property.name %>
</p>

<%= link_to 'Editar', edit_renter_path(@renter) %> |
<%= link_to 'Regresar', renters_path %>
