<p id="notice"><%= notice %></p>
<hr>
<form class="form-inline ">
  <div class="d-inline-block">
      <input class="form-control" type="search" placeholder="Buscar por Nombre" aria-label="Buscar" name="ownersearch">
  </div>
  <div class="d-inline-block">
      <button class="btn btn-outline-light" type="submit">Buscar</button>
  </div>
</form>
<hr>
<h2>Propietarios</h2>
<hr>
<%= link_to 'Nuevo Propietario', new_owner_path, class: "btn btn-info" %> |
<%= link_to 'Index Propiedades', properties_path, class: "btn btn-info"%>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Rut</th>
        <th>Mail</th>
        <th>Total propiedades</th>
        <th>Propiedades</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.name %></td>
          <td><%= owner.phone %></td>
          <td><%= owner.rut %></td>
          <td><%= owner.mail %></td>
          <td><%= owner.total_property %></td>
          <td><%= owner.properties.pluck(:name).join(', ') %></td>
 
          <% if current_user.liked? owner%>
            <td><%= link_to dislike_owner_path(owner) do  %><i class="fas fa-phone fa-2x"></i></td> 
            <% end %>
          <% else %>  
            <td><%= link_to like_owner_path(owner) do %><i class="fas fa-phone-slash fa-2x"></i></td>
            <% end %>
          <% end %>

          <td><%= link_to 'Mas Info', owner %></td>
          
          <td><%= link_to 'Editar', edit_owner_path(owner) %></td>
          <td><%= link_to 'Eliminar', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>




