<p id="notice"><%= notice %></p>


<h2>Propietarios</h2>
<hr>
<%= link_to 'Nuevo Propietario', new_owner_path %>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Teléfono</td>
      <td>Rut</td>
      <td>Mail</td>
      <td>Total propiedades</td>
      <td>Comprador</td>
      <td>Arrendatario</td>
      <td>Propiedades</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td scope="col"><%= owner.name %></td>
        <td scope="col"><%= owner.phone %></td>
        <td scope="col"><%= owner.rut %></td>
        <td scope="col"><%= owner.mail %></td>
        <td scope="col"><%= owner.total_property %></td>
        <td scope="col"><%= owner.buyers.pluck(:name).join(',') %></td>
        <td scope="col"><%= owner.renters.pluck(:name).join(',') %></td>
        <td scope="col"><%= owner.properties.pluck(:name).join(', ') %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>




