<p id="notice"><%= notice %></p>
<hr>
<h2>Propiedad Asociada <%= @owner.name %></h2>
<hr>
<%= link_to 'Editar', edit_owner_path(@owner) %> |
<%= link_to 'Regresar', owners_path %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Propiedades</th>
        <th>Estado</th>
        <th>Negociación</th>
        <th>Dirección</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @owner.properties.pluck(:name).join('; ')  %></td>
        <td><%= @owner.properties.pluck(:status).join('; ') %></td>
        <td><%= @owner.properties.pluck(:negotiation).join('; ') %></td>
        <td><%= @owner.properties.pluck(:adress).join('; ') %></td>
        <td><%= @owner.properties.pluck(:rol).join('; ') %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>

