<p id="notice"><%= notice %></p>
<hr>
<h6 class="text-uppercase mb-4 font-weight-bold">Propiedad Asociada <%= @owner.name %></h6>
<hr>
<%= link_to 'Editar', edit_owner_path(@owner) %> |
<%= link_to 'Regresar', owners_path %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Propiedad</th>
        <th>Estado</th>
        <th>Negociación</th>
        <th>Dirección</th>
        <th>Rol</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @owner.properties.each do |owner| %>
        <tr>
          <td><%= owner.name %></td>
          <td><%= owner.status %></td>
          <td><%= owner.negotiation %></td>
          <td><%= owner.adress %></td>
          <td><%= owner.rol %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div> 
<hr>

