<%= form_with(model: property, remote: true, data: { confirm: '¿Desea confirmar?'}) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre descriptivo" %>
    <%= form.text_field :name, class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :status, "Estado" %>
    <%= form.select :status, Property.statuses.keys, class: "form-control", autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :negotiation, "Negociación" %>
    <%= form.text_field :negotiation, placeholder: "Venta o Arriendo" %>
  </div>

  <div class="field">
    <%= form.label :detail, "Observaciones" %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :kind, "Tipo de propiedad" %>
    <%= form.text_field :kind, placeholder: "Casa o Departamento" %>
  </div>

  <div class="field">
    <%= form.label :adress, "Dirección" %>
    <%= form.text_field :adress, placeholder: "Ej: Los Ciruelos 444" %>
  </div>

  <div class="field">
    <%= form.label :rol %>
    <%= form.text_field :rol %>
  </div>

  <div class="field">
    <%= form.label :owner_id, "Propietario" %>
    <%= form.collection_select :owner_id , Owner.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.date_select :created_at %>
  </div>

  <div class="card-footer text-right">
    <%= link_to "Cancelar", properties_path, class: "btn btn-default" %>
    <%= form.submit data: {disable_with: "Creando"}, class: "btn btn-primary" %>
  </div>
          
<% end %>
