
<p id="notice"><%= notice %></p>
<hr>
<h2 class="text-center">Propiedades</h2>
<div class="row">
  <div class="col-md-3 offset-md-2">
      <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :status_eq, "Selecciona el estado del proceso" %>
      <br>
      <%= f.select :status_eq, options_for_select(Property.statuses , @q.status_eq), {},{class: "form-control"} %>
    </div>
    <br>
    <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>

  
  <hr> 
  <%= link_to 'Nueva Propiedad', new_property_path %> |
  <%= link_to 'Procesos Finalizados', my_completeds_path %>
  <hr>
<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Negociación</th>
          <th>Observaciones</th>
          <th>Tipo de Propiedad</th>
          <th>Dirección</th>
          <th>Rol</th>
          <th>Propietario</th>
        </tr>
      </thead>
      <hr>
      <tbody>
    
        <%= render @properties %>
     

    </tbody>
  </table> 
</div> 
<br>
