
<p id="notice"><%= notice %></p>
<hr>
<h2 class="text-center">Propiedades</h2>
<div class="row">
  <div class="col-md-3 offset-md-2">
      <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :status_eq, "Selecciona el estado del proceso" %>
      <br>
      <%= f.select :status_eq, options_for_select(Property.statuses , @q.status_eq), {},{class: "form-control"} %>
    </div>
    <br>
    <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>

  
  <hr> 
  <%= link_to 'Nueva Propiedad', new_property_path %>
  <hr>
<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Estado</td>
          <td>Negociación</td>
          <td>Observaciones</td>
          <td>Tipo de Propiedad</td>
          <td>Dirección</td>
          <td>Rol</td>
          <td>Propietario</td>
        </tr>
      </thead>
      <hr>
      <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td scope="col"><%= property.name %></td>
          <td scope="col"><%= property.status %></td>
          <td scope="col"><%= property.negotiation %></td>
          <td scope="col"><%= property.detail %></td>
          <td scope="col"><%= property.kind %></td>
          <td scope="col"><%= property.adress %></td>
          <td scope="col"><%= property.rol %></td>
          <td scope="col"><%= property.name_owner %></td>
          <td><%= link_to 'Mostrar', property %></td>
          
          <td><%= link_to 'Editar', edit_property_path(property) %></td>
          <td><%= link_to 'Eliminar', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        </tr>
      <% end %>
    </tbody>
  </table> 
</div> 
  <br>

