
<p id="notice"><%= notice %></p>
<hr>
<h2>Propiedades</h2>
<%#= render 'form', property: @property %>
  <%= link_to 'Nueva Propiedad', new_property_path, class: "btn btn-info" %> |
  <%= link_to 'Index Propietarios', owners_path, class: "btn btn-info"  %> |
  <%= link_to 'Index Arrendatarios', renters_path, class: "btn btn-info"  %> |
  <%= link_to 'Index Compradores', buyers_path, class: "btn btn-info"  %> |
  <%= link_to 'Procesos Cerrados', my_completeds_path, class: "btn btn-info"  %>
  <hr>
  <form class="form-inline ">
  <div class="d-inline-block">
      <input class="form-control" type="search" placeholder="Buscar por Comuna" aria-label="Buscar" name="locationsearch"> 
  </div>
  <div class="d-inline-block">
      <button class="btn btn-dark" type="submit">Buscar</button>
      <%= link_to 'Todas', properties_path, class: "btn btn-warning" %>
  </div>
</form>
  <hr>
<div class="row">
  <div class="col-md-3 offset-md-2">
      <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :status_eq, "Estado " %>
      <%= f.select :status_eq, options_for_select(Property.statuses , @q.status_eq), {},{class: "form-control"} %> 
    </div>
      <%= f.submit "Buscar", class: "btn btn-dark" %>
      <%= link_to 'Todas', properties_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Descriptivo</th>
        <th>Estado</th>
        <th>Negociación</th>
        <th>Transacción</th>
        <th>Tipo de propiedad</th>
        <th>Dirección</th>
        <th>Comuna</th>
        <th>Ciudad</th>
        <th>Rol</th>
        <th>Nombre Propietario</th>
        <th>Observaciones</th>
      </tr>  
    </thead>
    <tbody>
      <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.status %></td>
        <td><%= property.negotiation %></td>
        <td><%= property.transaction_type %></td>
        <td><%= property.kind %></td>
        <td><%= property.adress %></td>
        <td><%= property.location %></td>
        <td><%= property.city %></td>
        <td><%= property.rol %></td>
        <td><%= property.owner.name %></td>
        <td><%= property.detail %></td>
        <td><%= localize property.created_at, format: "%d de %B de %Y" %></td>
        <td><%= link_to 'Mostrar', property%></td>
        <td><%= link_to 'Editar', edit_property_path(property)%></td>
        <td><%= link_to 'Eliminar', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Cerrar Proceso', finalizar_property_path(property), method: :post, remote: true  %>
      </tr>
      <% end %>
    </tbody>
  </table> 
</div> 
<br>
