
<p id="notice"><%= notice %></p>
<hr>
<h2>Mas información Propiedad <%= @property.name %></h2>

<p>
  <strong>Estado:</strong>
  <%= @property.status %>
</p>
<p>
  <strong>Forma de pago:</strong>
  <%= @property.negotiation %>
</p>
<p>
  <strong>Transacción:</strong>
  <%= @property.transaction_type %>
</p>
<p>
  <strong>Tipo de propiedad:</strong>
  <%= @property.kind %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @property.adress %>
</p>
<p>
  <strong>Comuna:</strong>
  <%= @property.location %>
</p>
<p>
  <strong>Ciudad:</strong>
  <%= @property.city %>
</p>
<p>
  <strong>Rol:</strong>
  <%= @property.rol %>
</p>
<p>
  <strong>Propietario:</strong>
  <%= @property.owner.name %>
</p>
<p>
  <strong>Observaciones:</strong>
  <%= @property.detail %>
</p>
<p>
  <strong>Comprador:</strong>
  <%= @property.buyers.pluck(:name).join('; ') %>
</p>
<p>
  <strong>Arrendatario:</strong>
  <%= @property.renters.pluck(:name).join('; ') %>
</p>
<p>
  <strong>Fecha de ingreso:</strong>
  <%= localize @property.created_at, format: "%d de %B de %Y" %>
</p>
<hr>
<%= link_to 'Editar', edit_property_path(@property) %> |
<%= link_to 'Regresar', properties_path %>
<hr>

