<% unless user_signed_in? %> 
<main class="container" role="main">
  <div class="jumbotron">
    <h1></h1>
    <p class="lead">No estás registrado?! Visítanos...</p>
    <a class="btn btn-lg btn-info" href="<%= lead_index_path %>" target="light" role="button">Más sobre la          plataforma! &raquo;</a>
  </div>
  <div class="container">
    <p class="lead">Compartimos información sobre:</p>
    <div class="row">
      <div class="col-md-4">
        <h2 class="text-center">¿Cómo se calcula una tasación?</h2>
        <p class="text-justify">Se toma como base el valor referencial complementado con más información acerca de la propiedad que el mismo usuario ingresa y unido con un modelo de tasación.<a href="https://www.toctoc.com/Ayuda/TasacionPropiedades" target="_blank"><img class="img-fluid mt-2" src="<%= asset_path 'toctoctasaciones.png' %>">
        </a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Legaliza tu contrato online</h2>
        <p class="text-justify">En www.tupatrimonio.cl, sabías que puedes gestionar las firmas de tus arriendos y/o promesas de compraventa todo online?! La web para agilizar tus trámites, confiable y cómodo, en pocos pasos y confiabilidad para tus clientes.<a href="https://tupatrimonio.cl/" target="_blank"><img class="img-fluid mt-2" src="<%= asset_path 'fototupatrimonio.jpg' %>">
        </a></p>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Archivero Judicial</h2>
        <p class="text-justify">El Archivero Judicial de Santiago, es Ministro de Fe Pública encargado de la custodia de los documentos expresados en el Art. 455 del Código Orgánico de Tribunales y de dar a las partes interesadas los testimonios que de ellos pidieran.<a href="https://www.ajs.cl/" target="_blank"><img class="img-fluid mt-2" src="<%= asset_path 'archiverojudicial.jpg' %>"></a></p>
      </div>
    </div>
  </div><hr>
</main>
  
  <div class="container">
    <div class="text-center">
      <p>© 2021 Copyright: Evelyn Katiuska Gomez Frez. Todos los derechos reservados.</p>
    </div>
  </div>
  <hr>
<% else%>
  <%= render '/dashboard/index'%>
<% end %>

