<body>
  <div class="card-deck">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="<%= asset_path 'interactuar.jpg' %>" alt="Card image cap">
      <div class="card-body text-info">
        <h5 class="card-title">Relación con el cliente</h5>
        <p class="card-text">La fidelización con el cliente, ya sea por que alguien te recomendó o lo captaste, es el paso más importante y dependerá de tu gestión que lo mantengas aun terminado el proceso y será él quien vuelva a darte mas contactos!.</p>
       
      </div>

    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="<%= asset_path 'registro.jpg' %>" alt="Card image cap">
      <div class="card-body text-info">
        <h5 class="card-title">Registrar la información</h5>
        <p class="card-text">Esta plataforma centraliza todas las acciones que utilizas al momento de trabajar, aquí podrás registrar a tus clientes y el paso a paso, como además ir a las páginas principales que se involucran en la gestión.</p>
     
      </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="<%= asset_path 'venta.jpg' %>" alt="Card image cap">
      <div class="card-body text-info">
        <h5 class="card-title">Venta o arriendo</h5>
        <p class="card-text">Luego de concretar la gestión con el cliente, tendrás organizado la secuencia del proceso para la venta o arriendo, el acceso a tu web, si tuvieras, para publicar.</p>
      
      </div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="<%= asset_path 'venta.jpg' %>" alt="Card image cap">
      <div class="card-body text-info">
        <h5 class="card-title">Venta o arriendo</h5>
        <p class="card-text">Luego de concretar la gestión con el cliente, tendrás organizado la secuencia del proceso para la venta o arriendo, el acceso a tu web, si tuvieras, para publicar.</p>
        
      </div>
    </div>
  </div>
</body>
<div
  class="text-center text-lg-start text-white"
  style="background-color: #929fba"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Bdd Broker Inmobiliario
            </h6>
            <p>
              Una plataforma multifuncional para optimizar la gestión de un corredor de propiedades
              facilitando el ingreso de cada registro de sus clientes y procesos.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Servicios</h6>
            <p>
              <a class="text-white">Registro de Clientes</a>
            </p>
            <p>
              <a class="text-white">Ingreso del proceso de venta o arriendo</a>
            </p>
            <p>
              <a class="text-white">Base de datos para tus gestiones</a>
            </p>
            <p>
              <a class="text-white">Fácil y funcional de manejar</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 569 123 456 78</p>
            <a class="btn btn-primary btn-floating m-1" href="<%= contacts_new_path%>" target="_blank"><i class="fas fa-envelope mr-3"></i>Formulario de Contacto</a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos...!!</h6>

            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="https://es-la.facebook.com/"
               target="_blank" role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="https://twitter.com/?lang=es"
               target="_blank" role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="https://www.google.com/intl/es-419/gmail/about/"
               target="_blank" role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               target="_blank" role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="https://www.linkedin.com/feed/"
               target="_blank" role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="https://github.com/EvelynG382020"
               target="_blank" role="button"
               ><i class="fab fa-github"></i
              ></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

  </div>
 
</div>
<!-- End of .container -->
