<%= form_with(model: detail_rent, local: true) do |form| %>
  <% if detail_rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_rent.errors.count, "error") %> prohibited this detail_rent from being saved:</h2>

      <ul>
      <% detail_rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contract, "Contrato" %>
    <%= form.select :contract, DetailSale.contracts.keys %>
  </div>

  <div class="field">
    <%= form.label :renter_id, "Arrendatario" %>
    <%= form.collection_select :renter_id, Renter.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :detail, "Observaciones"%>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :value, "Valor $" %>
    <%= form.text_field :value, placeholder: "solo numeros sin puntos" %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.date_select :created_at %>
  </div>

  <div class="actions">
    <%= form.submit "Crear" %>
  </div>
<% end %>
