
<p id="notice"><%= notice %></p>

<h2>Detalle Arriendo</h2>
<hr>
<%= link_to 'Nuevo Detalle Arriendo', new_detail_rent_path, class: "btn btn-info" %> |
<%= link_to 'Index Detalle Ventas', detail_sales_path, class: "btn btn-info" %> |
<%= link_to 'Index Propiedades', properties_path, class: "btn btn-info" %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Arrendatario</th>
        <th>Propiedad</th>
        <th>Propietario</th>
        <th>Valor $</th>
        <th>Contrato</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de término</th>
        <th>Observaciones</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @detail_rents.each do |detail_rent| %>
        <tr>
          <td><%= detail_rent.renter.name %></td>
          <td><%= detail_rent.renter.property.name %></td>
          <td><%= detail_rent.renter.property.owner.name %></td>
          <td><%= detail_rent.value %></td>
          <td><%= detail_rent.contract %></td>
          <td><%= detail_rent.created_at %></td>
          <td><%= detail_rent.date %></td>
           <td><%= detail_rent.detail %></td>
          <td><%= link_to 'Mostrar', detail_rent %></td>
          <td><%= link_to 'Editar', edit_detail_rent_path(detail_rent) %></td>
          <td><%= link_to 'Eliminar', detail_rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

