<p id="notice"><%= notice %></p>

<p>
  <strong>Observaciones:</strong>
  <%= @detail_rent.detail %>
</p>

<p>
  <strong>Valor: $</strong>
  <%= @detail_rent.value %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @detail_rent.contract %>
</p>

<p>
  <strong>Arrendatario:</strong>
  <%= @detail_rent.renter.name %>
</p>

<%= link_to 'Editar', edit_detail_rent_path(@detail_rent) %> |
<%= link_to 'Regresar', detail_rents_path %>
