<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completeds.each do |completed| %>
      <tr>
        <td><%= link_to 'Show', completed %></td>
        <td><%= link_to 'Edit', edit_completed_path(completed) %></td>
        <td><%= link_to 'Destroy', completed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Index Propiedades', properties_path %>
