<p id="notice"><%= notice %></p>

<h1>Compradores</h1>
<hr>
<%= link_to 'Index Propiedades', properties_path, class: "btn btn-info" %> 
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Rut</th>
        <th>Mail</th>
        <th>Observaciones</th>
        <th>Propietario</th>
        <th>Propiedad</th>
        <th>Fecha de ingreso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= link_to 'Nuevo Comprador', new_buyer_path, class: "btn btn-info" %>
      <% @buyers.each do |buyer| %>
        <tr>
          <td><%= buyer.name %></td>
          <td><%= buyer.phone %></td>
          <td><%= buyer.rut %></td>
          <td><%= buyer.mail %></td>
          <td><%= buyer.detail %></td>
          <td><%= buyer.property.owner.name %></td>
          <td><%= buyer.property.name %></td>
          <td><%= localize buyer.created_at, format: "%d de %B de %Y" %></td>
          <td><%= link_to 'Detalle Venta', buyer, class: "btn btn-info" %></td>
          <td><%= link_to 'Index Propiedades', properties_path, class: "btn btn-info" %></td>
          <td><%= link_to 'Editar', edit_buyer_path(buyer), class: "btn btn-info" %></td>
          <td><%= link_to 'Eliminar', buyer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


