<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @buyer.phone %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @buyer.rut %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @buyer.mail %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @buyer.detail %>
</p>

<p>
  <strong>Propietario:</strong>
  <%= @buyer.property.owner.name %>
</p>

<p>
  <strong>Propiedad:</strong>
  <%= @buyer.property.name %>
</p>
<hr>



  

<%= link_to 'Editar', edit_buyer_path(@buyer) %> |
<%= link_to 'Regresar', buyers_path %>
