<%= form_with(model: detail_sale, local: true) do |form| %>
  <% if detail_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_sale.errors.count, "error") %> prohibited this detail_sale from being saved:</h2>

      <ul>
      <% detail_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :detail, "Observaciones" %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <%= form.label :caratula %>
    <%= form.text_field :caratula, placeholder: "1111111111" %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :value, "Valor $" %>
    <%= form.text_field :value, placeholder: "solo numeros sin puntos" %>
  </div>

  <div class="field">
    <%= form.label :contract, "Promesa" %>
    <%= form.select :contract, DetailSale.contracts.keys %>
  </div>

  <div class="field">
    <%= form.label :contract, "Firma Escritura" %>
    <%= form.select :contract, DetailSale.contracts.keys %>
  </div>

  <div class="field">
    <%= form.label :buyer_id %>
    <%= form.collection_select :buyer_id , Buyer.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit "Crear" %>
  </div>
<% end %>
