
<p id="notice"><%= notice %></p>
<hr>
<h2>Detalle Ventas</h2>
<%= link_to 'Nuevo Detalle Ventas', new_detail_sale_path, class: "btn btn-info"  %> |
<%= link_to 'Detalle Arriendo', detail_rents_path, class: "btn btn-info" %> |
<%= link_to 'Index Propiedades', properties_path, class: "btn btn-info" %>
<hr>
<div class="row">
  <div class="col-md-3 offset-md-2">
      <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :inscription_eq, "Selecciona el estado del proceso" %>
      <%= f.select :inscription_eq, options_for_select(DetailSale.inscriptions , @q.inscription_eq), {},{class: "form-control"} %>
    </div>
    <%= f.submit "Buscar", class: "btn btn-dark" %>
    <%= link_to 'Todas', detail_sales_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
<hr>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Promesa</th>
        <th>Escritura Compraventa</th>
        <th>Comprador</th>
        <th>Propiedad</th>
        <th>Propietario</th>
        <th>Caratula</th>
        <th>Url Conservador</th>
        <th>Inscripción CBRs</th>
        <th>Valor $</th>
        <th>Fecha ingreso</th>
        <th>Observaciones</th>
        <th colspan="6"></th>
      </tr>
    </thead>
    <tbody>
      <% @detail_sales.each do |detail_sale| %>
        <tr>
          <td><%= detail_sale.contract %></td>
          <td><%= detail_sale.purchase_contract %></td>
          <td><%= detail_sale.buyer.name %></td>
          <td><%= detail_sale.buyer.property.name %></td>
          <td><%= detail_sale.buyer.property.owner.name%></td>
          <td><%= detail_sale.caratula %></td>
          <td><%= detail_sale.url %></td>
          <td><%= detail_sale.inscription%></td>
          <td><%= detail_sale.value%></td>
          <td><%= localize detail_sale.created_at, format: "%d de %B de %Y" %></td>
          <td><%= detail_sale.detail %></td>
          <td><%= link_to 'Mas info', detail_sale %></td>
        
          <td><%= link_to 'Editar', edit_detail_sale_path(detail_sale) %></td>
          <td><%= link_to 'Eliminar', detail_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


