
<p id="notice"><%= notice %></p>

<h1>Detail Sales</h1>

<table>
  <thead>
    <tr>
      <th>Observaciones</th>
      <th>Caratula</th>
      <th>Url</th>
      <th>Valor $</th>
      <th>Promesa</th>
      <th>Firma Escritura</th>
      <th>Buyer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_sales.each do |detail_sale| %>
      <tr>
        <td><%= detail_sale.detail %></td>
        <td><%= detail_sale.caratula %></td>
        <td><%= detail_sale.url %></td>
        <td><%= detail_sale.value %></td>
        <td><%= detail_sale.contract %></td>
        <td><%= detail_sale.contract %></td>
        <td><%= detail_sale.buyer.name %></td>
        <% if current_user.asistant? %>
          <td><%= link_to 'Mas info', detail_sale %></td>
        <% end %>
        <td><%= link_to 'Editar', edit_detail_sale_path(detail_sale) %></td>
        <td><%= link_to 'Eliminar', detail_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail Sale', new_detail_sale_path %>
