<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @detail_sale.detail %>
</p>

<p>
  <strong>Caratula:</strong>
  <%= @detail_sale.caratula %>
</p>

<p>
  <strong>Url:</strong>
  <%= @detail_sale.url %>
</p>

<p>
  <strong>Value:</strong>
  <%= @detail_sale.value %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @detail_sale.contract %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @detail_sale.buyer %>
</p>

<%= link_to 'Edit', edit_detail_sale_path(@detail_sale) %> |
<%= link_to 'Back', detail_sales_path %>
