<p id="notice"><%= notice %></p>

<p>
  <strong>Caratula:</strong>
  <%= @detail_sale.caratula %>
</p>

<p>
  <strong>Url:</strong>
  <%= @detail_sale.url %>
</p>

<p>
  <strong>Valor: $</strong>
  <%= @detail_sale.value %>
</p>

<p>
  <strong>Promesa:</strong>
  <%= @detail_sale.contract %>
</p>

<p>
  <strong>Firma de Escritura:</strong>
  <%= @detail_sale.contract %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @detail_sale.buyer.name %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @detail_sale.detail %>
</p>

<%= link_to 'Edit', edit_detail_sale_path(@detail_sale) %> |
<%= link_to 'Back', detail_sales_path %>
